# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
*.cover
*.pyc

# Node (if using frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.swp
*.swo
.idea/